.header{
  width:100%;
  padding:20px 0;
  justify-content: space-between;
  z-index:100;
  display:flex;

  @include phones{
    justify-content:space-between;
    align-items:center;
    min-width:100%;
  }
}

.header__logo{
  line-height:35px;

  @include tablets{
      font-size:36px;
   @include phones{
      font-size:36px;
  }
  }
}

.header__right{
  display: flex;

  @include tablets{
  align-items:center;
      
   @include phones{
      font-size:36px;
  }
  }
}