.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  z-index:100;
}

.header__logo{
line-height:35px;
}

.header__nav {
width:60%;
flex-wrap:nowrap;

  @include tablets {
    display: none;
  }
}
.header_button{
  @include tablets{
    flex:1;
  }
}