script(type="text/x-template")#slider-container
    .work__slider
        display(
            :works="works",
            :currentWork = "currentWork",
            :currentIndex="currentIndex",
            @slide = "handleSlide",
            @select="selectWork"
        )
        info(
            :currentWork="currentWork"
        )
        

script(type="text/x-template")#slider-display
    .work__slider__pics
        .works-slider__pics-content(:data-slide="currentIndex + 1")
            .works-slider__fuulpic-container
                img(:src="currentWork.photo" alt="").work__slider__fullpic-img
                btns(
                    @slide="direction => $emit('slide', direction)"
                )
                thumbs(
                    :works="works",
                    :currentWork="currentWork",
                    @select="workId => $emit('select', workId)"
                )
                

script(type="text/x-template")#slider-btns
    .works-slider__buttons
        a(href="#" @click.prevent="$emit('slide', 'next')").works-slider__btn.works-slider__btn_next
            +icon(`arrow-down`,'works-slider__btn-icon')
        a(href="#" @click.prevent="$emit('slide', 'prev')").works-slider__btn.works-slider__btn_prev
            +icon(`arrow-down`,'works-slider__btn-icon')

script(type="text/x-template")#slider-thumbs
    ul.works-slider__thumbs
        li.works-slider__thumb_item(
            v-for = "work in works" :key = "work.id"
            :class="{active: currentWork.id === work.id}"
            )
            a.works-slider__thumb_link
                img(:src="work.photo" alt="").works-slider__thumb-img

script(type="text/x-template")#slider-info
    .work__content-text
        tags(
            :tagsArray="tagsArray"
        )
        h3.content-text__title {{currentWork.title}}
        .content-text__desc 
            p {{currentWork.desc}}
        .content-text__look 
            .content-text__look-img 
                +icon(`link`, 'content-text__icon')
            a(:href="currentWork.link" target="_blank").content-text__look-link Посмотреть сайт

script(type="text/x-template")#slider-tags
    ul.content-text__occ
        li.content-text__occ-pic(v-for="tag in tagsArray")
            .tag {{tag}}