header.header
  .header__logo
    a.logo(href="") BA
  nav.nav
    ul.nav__list
      - var nav = [{name: "Главная", id:'#hero'}, {name: "Обо мне", id:'#about'},{name: "Навыки", id:'#skills'}, {name: "Работы", id:'#works'}, {name:"Отзывы", id:'#review'},{name: "Связаться", id:'#form'}]
      each item in nav
        li.nav__item
          a(href=item.id).nav__link #{item.name}
                  
  .header__buttons
    ul.socials
      - var socials = ['insta', 'vk', 'github'];
      each item in socials
        li.socials__item
          a(href="#").socials__link
            +icon(item, 'socials__icon')
      .hamburger__btn(#hamburger__menu)
        span.line
        span.line
        span.line  