header.header
  .header__logo
    a.logo(href="") BA
  nav.nav
    ul.nav__list
      - var nav = ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"]
      each item in nav
        li.nav__item
          a(href="#").nav__link #{item}

                        
  .header__social
    ul.socials
      - var socials = ['insta', 'vk', 'github'];
      each item in socials
        li.socials__item
          a(href="#").socials__link
            +icon(item, 'socials__icon')
  .hamburger__btn(#hamburger__menu)
    span.line
    span.line
    span.line         