.hero__desc
  .hero__content
    .hero__title Личный сайт #[span.hero__occ веб разработчика]
    .hero__name Владимир Астаханов
.scroll
  .scroll__text Скролл
  a(href="#").scroll__icon
    +icon('scroll')