section.parallax                                    
  .parallax__layer(data-speed="0.1")
    +image("content/parallax/sky@2x.png", "parallax__image", alt="parallax_layer")
  .parallax__layer(data-speed="0.6")
    +image("content/parallax/cloud_2.png", "parallax__image", alt="parallax_layer") 
  .parallax__layer(data-speed="0.3")
    +image("content/parallax/cloud.png", "parallax__image", alt="parallax_layer")
  .parallax__layer(data-speed="0.3")
    +image("content/parallax/mount.png", "parallax__image", alt="parallax_layer")              
  .parallax__layer(data-speed="0.2")
    +image("content/parallax/bridge.png", "parallax__image", alt="parallax_layer")
  .parallax__layer(data-speed="0.5")
    +image("content/parallax/train.png", "parallax__image", alt="parallax_layer")
  .parallax__layer(data-speed="0.6")
    +image("content/parallax/grass@2x.png", "parallax__image", alt="parallax_layer") 
  .parallax__layer(data-speed="0.2")
    +image("content/parallax/shadow__little@2x.png", "parallax__image", alt="parallax_layer")
  .parallax__layer(data-speed="0.2")
    +image("content/parallax/shadow@2x.png", "parallax__image", alt="parallax_layer")                       
