.parallax__bottom
  .parallax__scene(data-speed="0.1")
    +image("content/leaf_1.png", "parallax__img", alt="layer")
  .parallax__scene(data-speed="0.4")
    +image("content/leaf_2.png", "parallax__img", alt="layer")
  .parallax__scene(data-speed="0.6")
    +image("content/leaf_3.png", "parallax__img", alt="layer")
  .parallax__scene(data-speed="0.5")
    +image("content/leaf_4.png", "parallax__img", alt="layer")