//- .container.works__container
//-   h3.section-title.works__section-title Мои работы
//-   .slider
//-     .slider__col.slider__col_left
//-       .slider__img
//-         +image('userfiles/work_1.jpg', 'slider__pic_big')
//-         ul.slider__list
//-           li.slider__item.slider__item.active
//-             +image('userfiles/prew_1.jpg', 'slider__pic_prew')
//-           li.slider__item
//-             +image('userfiles/prew_2.jpg', 'slider__pic_prew')
//-           li.slider__item
//-             +image('userfiles/prew_3.jpg', 'slider__pic_prew')
//-           li.slider__item
//-             +image('userfiles/prew_4.jpg', 'slider__pic_prew')
//-           .slider__buttons
//-             .arrow__left
//-               +icon('arrow-down', 'arrow__left-icon')
//-             .arrow__right
//-               +icon('arrow-down', 'arrow__right-icon')
//-     .slider__col
//-       .slider__text
//-         ul.slider__text-list
//-           li.slider__text-item
//-             a(href="#").slider__text-link HTML
//-           li.slider__text-item
//-              a(href="#").slider__text-link CSS
//-           li.slider__text-item
//-             a(href="#").slider__text-link JavaScript
//-       .slider__text-title Сайт школы образование
//-       .slider__text-desc Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
//-       .slider__school
//-         +icon('link', 'slider__school-icon')
//-         a(href="#").slider__school-link Посмотреть сайт