include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    script(src="https://cdn.jsdelivr.net/npm/vue@269/dist/vue.js")
    //- link(rel="shortcut icon" href=require('images/favicon.png'))
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        .wellcome-section
          include ./sections/parallax.pug           
          section.fullscreen-section.hero-section#hero
            .container.hero-container
              include ./sections/header.pug
              include ./sections/hero.pug
        include ./sections/about-section.pug 
        section.skills-section#skills
          .skills__prev
          .container.skills-container
            .skills__box
              .skills__box-title Чем я могу быть полезен вам
              p.skills__info Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            .skills__right  
              #skills-component
        section.works__section#works
          .container.works__container
            h3.works__section-title Мои работы
            .works__content 
              #slider-component
        section.feedback-section#review
          .container.feedback-container
            .feedback__decor-right
            include ./sections/parallax__bottom.pug          
            #feedback-component
            .form__title.section-title Связаться со мной       
            include ./sections/feedback__form.pug
      include ./sections/footer.pug     
    include ./templates/entry.pug


    