include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    script(src="https://cdn.jsdelivr.net/npm/vue@269/dist/vue.js")
    //- link(rel="shortcut icon" href=require('images/favicon.png'))
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        .wellcome-section
          include ./sections/parallax.pug           
          section(id="section_1").hero-section
            .container.hero-container
              include ./sections/header.pug
              include ./sections/hero.pug
        include ./sections/about-section.pug 
        section(id="section_3").skills-section
          .container.skills-container
            .skills__box
              .skills__box-title Чем я могу быть полезен вам
              p.skills__info Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            .skills__right  
              #skills-component
        include ./sections/works__section.pug 
        section(id="section_4").works__section                       
        section(id="section_5").feedback-section
          .container.feedback-container
            .feedback__decor-right          
            #feedback-component       
            include ./sections/feedback__form.pug
      include ./sections/footer.pug     
    include ./templates/entry.pug


    